.my-custom-scrollbar {
  position: relative;
  height: 88vh;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.vh-88 {
  height: 88vh;
}
table {
  counter-reset: row-num-1;
}
table tr {
  counter-increment: row-num;
}
table tr td:first-child::before {
  content: counter(row-num) " ";
}
.phone {
  max-width: 15px;
}
